In [5]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

# Set seed for reproducibility
np.random.seed(42)
random.seed(42)

# Simulate 30 days of data
start_date = datetime(2023, 6, 1)
end_date = datetime(2023, 6, 30)
dates = pd.date_range(start_date, end_date, freq='D')

# Sample menu items
menu_items = [
    {"name": "Grilled Chicken", "category": "Main Course", "price": 850, "cost": 420},
    {"name": "Beef Burger", "category": "Main Course", "price": 650, "cost": 200},
    {"name": "Vegetable Stir Fry", "category": "Main Course", "price": 500, "cost": 180},
    {"name": "Margherita Pizza", "category": "Main Course", "price": 750, "cost": 300},
    {"name": "Caesar Salad", "category": "Appetizer", "price": 400, "cost": 150},
    {"name": "French Fries", "category": "Appetizer", "price": 300, "cost": 120},
    {"name": "Tomato Soup", "category": "Appetizer", "price": 350, "cost": 130},
    {"name": "Chocolate Cake", "category": "Dessert", "price": 500, "cost": 220},
    {"name": "Fruit Salad", "category": "Dessert", "price": 450, "cost": 200},
    {"name": "Vanilla Ice Cream", "category": "Dessert", "price": 400, "cost": 180},
    {"name": "Fresh Juice", "category": "Beverage", "price": 300, "cost": 100},
    {"name": "Soda", "category": "Beverage", "price": 200, "cost": 60},
    {"name": "Bottled Water", "category": "Beverage", "price": 150, "cost": 40}
]

# Generate data
records = []
for date in dates:
    for item in menu_items:
        quantity_sold = np.random.poisson(lam=random.uniform(3, 15))  # average daily sales
        revenue = item["price"] * quantity_sold
        profit = (item["price"] - item["cost"]) * quantity_sold
        records.append({
            "Date": date.strftime('%Y-%m-%d'),
            "Item Name": item["name"],
            "Category": item["category"],
            "Unit Price": item["price"],
            "Cost Price": item["cost"],
            "Quantity Sold": quantity_sold,
            "Revenue": revenue,
            "Gross Profit": profit
        })

df = pd.DataFrame(records)
df.head()

,Date,Item Name,Category,Unit Price,Cost Price,Quantity Sold,Revenue,Gross Profit
0,2023-06-01,Grilled Chicken,Main Course,850,420,13,11050,5590
1,2023-06-01,Beef Burger,Main Course,650,200,1,650,450
2,2023-06-01,Vegetable Stir Fry,Main Course,500,180,4,2000,1280
3,2023-06-01,Margherita Pizza,Main Course,750,300,5,3750,2250
4,2023-06-01,Caesar Salad,Appetizer,400,150,12,4800,3000

In [6]:
# Save to CSV
import os
import pathlib
output_dir = pathlib.Path("data")
output_dir.mkdir(parents=True, exist_ok=True)
output_file = output_dir / "restaurant_sales_data.csv"
df.to_csv(output_file, index=False)